/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
body{
    height: 10000px;
}
/*div{*/
    /*height: 500px;*/

    /*background: no-repeat url(img/e8a4b1c6c5f1dfda8ed16a8005128395.jpg) 28% 64%;*/
    /*background-color: aquamarine;*/
    /*!*no-repeat url(img/w256h2561337871755camaro256.png) 50%;*!*/

/*}*/
h1{
    background-color: blue;
}
img{
    /*float: left;*/
}
p{
    margin-bottom: 10px;
}
.header{
    height: 50px;
    background: aquamarine;
}
.footer{
    height: 50px;
    background: aquamarine;
}
.menu{
    width:200px;
    background: red;
    height: 200px;
    float: left;
}
.content{
    background: green;
}
.banner{
    float: right;
    height: 200px;
    width: 200px;
    background: blue;
}
.content-wrap{
    background-color: brown;
}

.test{
    background: blue;
}
.test div{
    display: inline-block;
    width: 200px;
    height: 300px;
    background-color: red;
    margin: 20px;
    padding: 30px;
}
.first{
    height: 50px;
    background-color: red;
    margin-bottom: 50px;
}
.second{
    height: 50px;
    background-color: green;
    margin-top:30px;
}